/*-- scss:defaults --*/
$body-bg: #0D232C;
$body-color: #f8f9fa;
$card-bg: #1a3642;
$card-border: rgba(135, 203, 204, 0.15);
$highlight-bg: #142d38;
$heading-color: #FFFFFF;
$text-muted: rgba(255, 255, 255, 0.6);